body, h1 {
  font-family: 'Droid Sans', sans-serif;
}

a {
  color: #00B7FF;
}

button .button {
	font-size:8pt;
}

/*HEADER STYLES*/

header .navbar{
	background:rgb(62,53,56);
	color: white;
}

header a {
	color:white !important; 
}

header a:hover {
	color:lightgray !important;
}

.input-group-addon {
	background:rgb(230, 121, 26) !important;
	color: white;
	text-shadow: 0 0px;
}

.input-group-addon:hover{
	color:rgb(62,53,56);
}

/*FOOTER STYLES*/

footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:45px; 
	background:rgb(62,53,56);
	color:white;
	padding-top:13px;
}

footer a {
	color: white;
}

footer a:hover{
	color:lightgray;
	text-decoration: none;
}

