
<div class="row">
	<div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
		<h1><strong>Disclaimer</strong></h1>
			<p>
				All the information on this website is published in good faith and solely for the purpose of soliciting firearms . We do not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information on our website is strictly at your own risk. and we will not be liable for any losses and damages in connection with the use of our website.

				From our website, you can visit other websites by following hyperlinks to these sites. While we strive to provide only links to useful and ethical websites, we have no control over the content and nature of these sites and the links to other websites do not imply a recommendation for all the content found on these sites.

				Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control.
			</p>
		<h1><strong>Privacy Policy</strong></h1>
			<p>
				This privacy policy discloses the privacy practices for [our website address]. This privacy policy applies solely to information collected by this web site. It will notify you of the following:
			</p>
			<p>
				<ul>
					<li>What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.</li>
					<li>What choices are available to you regarding the use of your data.</li>
					<li>The security procedures in place to protect the misuse of your information.</<li>li>
					<li>How you can correct any inaccuracies in the information.</li>
				</ul>
			</p>
			<p>
				<h4>Information Collection, Use, and Sharing</h4>
			</p>
			<p>
				We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
			</p>
			<p>
				We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.
			</p>
			<p>
				Unless you ask us not to, we may contact you via email in the future to tell you about specials, new listings or services, or changes to this privacy policy.
			</p>
			<p>
				<h4>Your Access to and Control Over Information</h4>
			</p>
			<p>
				You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:

				   • See what data we have about you, if any.

				   • Change/correct any data we have about you.

				   • Have us delete any data we have about you.

				   • Express any concern you have about our use of your data.
			</p>
			<p>
				<h4>Security</h4>
			</p>
			<p>
				We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
			</p>
			<p>
				Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.
			</p>
			<p>
				While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.
			</p>
			<p>
				<h4>Updates</h4>
			</p>
			<p>
				Our Privacy Policy may change from time to time and all updates will be posted on this page.
			</p>
	</div>
</div>
