<div class="row">
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 listing-header">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left white-large">
			Glock 19
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right white-large">
			$450.00
		</div>
	</div>

	<div class="row col-xs-12 space-sm"></div>

	<div class="row no-padding">
		<div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2">
			
			<a href="" class="thumbnail" style="width:100%;">
			  <img src="img/revolver.png">
			</a>
			
			<div class="row no-padding">
				<div class="col-xs-4">
					<a href="" class="thumbnail" style="width:100%;height:50px">
						<img src="img/revolver.png">
					</a>
				</div>
				<div class="col-xs-4">
					<a href="" class="thumbnail" style="width:100%;height:50px">
						<img src="img/revolver.png">
					</a>
				</div>
				<div class="col-xs-4">
					<a href="" class="thumbnail" style="width:100%;height:50px">
						<img src="img/revolver.png">
					</a>
				</div>
			</div>
		</div>

		<div class="row col-xs-12 space-sm hidden-lg hidden-md hidden-sm"></div>

		<div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0 col-md-5 col-lg-5">
			<h5>
				<p>Guns, guns, guns!</p>
				<p>This is a description of my gun for sale!</p>
			</h5>
			<br>
			<br>
			<div class="row">
				<div class="col-xs-6">
					<button type="button" class="btn btn-default blue-btn">Contact Seller</button>
				</div>
				<div class="col-xs-6">
					<button type="button" class="btn btn-default blue-btn">Report Listing</button>
				</div>
			</div>
		</div>
	</div>
	
</div>