<div class="row" ng-controller="listingController">
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 listing-header">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left white-large">
			<div ng-if="!isEditing || !isOwner">
				{{listing.title}}
			</div>
			<div ng-if="isEditing &amp;&amp; isOwner">
				<input class="header-input white-medium" type="text" ng-model="editListing.title" />
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right white-large">
			<div ng-if="!isEditing || !isOwner">
				{{listing.price | currency}}
			</div>
			<div ng-if="isEditing &amp;&amp; isOwner">
				$<input class="header-input white-medium" type="text" ng-model="editListing.price" />
			</div>
		</div>
	</div>

	<div class="row col-xs-12 space-sm"></div>

	<div class="row no-padding">
		<div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2">

			<a href="" class="thumbnail" style="width:100%;">
			  <img ng-src="{{currentPhoto.url}}" data-target="#galleryModal" data-toggle="modal" data-placement="right" data-trigger="focus"/>
			</a>

			<div class="row no-padding" ng-show="listing.photos.length > 1">
				<div class="col-xs-4" ng-repeat="photo in listing.photos">
					<a ng-click="showPhoto($index)" class="thumbnail" style="width:100%;height:70px">
						<img ng-src="{{photo.url}}">
					</a>
				</div>
			</div>

			<br><h4>Page Views: {{listing.pageViews}}</h4>
			<br><h4>Listed on: {{listing.listedOn | date}}</h4>
		</div>

		<div class="row col-xs-12 space-sm hidden-lg hidden-md hidden-sm"></div>

		<div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0 col-md-5 col-lg-5">
			<h5 ng-if="!isEditing || !isOwner">
				<p>{{listing.description}}</p>
			</h5>
			<textarea class="textarea" ng-model="editListing.description" ng-if="isEditing &amp;&amp; isOwner">
			</textarea>
			<br>
			<br>
			<div class="row">
				<div class="col-xs-6">
					<button type="button" class="btn btn-default blue-btn no-padding"><small>Contact Seller</small></button>
				</div>
				<div class="col-xs-6">
					<button type="button" class="btn btn-default blue-btn no-padding"><small>Report Listing</small></button>
				</div>
			</div>

			<div class="row col-xs-12 space-sm"></div>

			<table class="table table-striped">
 				<tr ng-repeat="customGunSpec in listing.customGunSpecs" ng-if="!isEditing || !isOwner">
					<td>
						{{customGunSpec.name}}: {{customGunSpec.value}}
					</td>
				</tr>
				<tr ng-repeat="customGunSpec in editListing.customGunSpecs" ng-if="isEditing &amp;&amp; isOwner">
					<td>
						<input type="text" ng-model="customGunSpec.name" /> :
						<input type="text" ng-model="customGunSpec.value" />
					</td>
				</tr>
			</table>

			<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0" ng-if="isOwner &amp;&amp; !isEditing">
				<div class="text-right"><h4><a class="clickable" ng-click="startEditing()">Edit</a></h4></div>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0" ng-if="isOwner &amp;&amp; isEditing">
				<button type="button" class="btn btn-default blue-btn no-padding listing-save-cancel-btn pull-right" ng-click="saveEditing()"><small>Save</small></button>
				<button type="button" class="btn btn-default blue-btn no-padding listing-save-cancel-btn pull-right" ng-click="cancelEditing()"><small>Cancel</small></button>
			</div>
		</div>

		<div class="row col-xs-12 space-sm"></div>

		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2" ng-show="relatedListings.length">

			<h3>Related Items</h3>
			<div class="row no-padding">
				<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-4" ng-repeat="relatedListing in relatedListings | limitTo:3">
					<a ng-href="#/listing/{{relatedListing._id}}">
						<div class="thumbnail">
							<img ng-src="{{relatedListing.photos[0].url}}" class="thumbnail-size">
							<div class="row caption listing-header no-margin no-padding">
								<div class="col-xs-6 text-left white-small">{{relatedListing.title}}</div>
								<div class="col-xs-6 text-right white-small">{{relatedListing.price | currency}}</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true" ng-controller="listingController">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="galleryModalLabel">{{listing.title}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<img ng-src="{{listing.photos[currentPhotoIndex].url}}" align="middle">
						<br><h4 ng-show="listing.photos[currentPhotoIndex].description">{{listing.photos[currentPhotoIndex].description}}</h4>
					</div>
				</div>
				<div class="row" ng-show="listing.photos.length > 1">
					<div class="col-sm-4 col-sm-offset-2">
						<button type="button" class="btn btn-default" ng-click="previousPhoto()">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<!-- <span>Prev</span> -->
						</button>
					</div>
					<div class="col-sm-4 col-sm-offset-2">
						<button type="button" class="btn btn-default" ng-click="nextPhoto()">
							<!-- <span>Next</span> -->
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
