<div class="row">
	<h1 class="text-center">My Listings</h1>
	<div ng-repeat="listing in myListings" ng-if="listing.isActive">
		<div class="row">
			<div class="col-xs-12 listing-header">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left white-large">
					<div ng-if="!editing || editListing._id !== listing._id">{{listing.title}}</div>
					<div ng-if="editing &amp;&amp; editListing._id === listing._id"><input class="black-medium" type="text" ng-model="editListing.title" /></div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right white-large">
					<div ng-if="!editing || editListing._id !== listing._id">${{listing.price}}</div>
					<div ng-if="editing &amp;&amp; editListing._id === listing._id">$<input class="black-medium" type="text" ng-model="editListing.price" /></div>
				</div>
			</div>
		</div>
		<div class="row listing-body">
			<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0" ng-if="!editing || editListing._id !== listing._id">
				<div class="text-right"><h4><a class="clickable" ng-click="startEditing(listing)">Edit</a></h4></div>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0" ng-if="editing &amp;&amp; editListing._id === listing._id">
				<button type="button" class="btn btn-default blue-btn no-padding listing-save-cancel-btn pull-right" ng-click="saveEditing()"><small>Save</small></button>
				<button type="button" class="btn btn-default blue-btn no-padding listing-save-cancel-btn pull-right" ng-click="cancelEditing(listing)"><small>Cancel</small></button>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-md-3">
				<img class="img-responsive" ng-src="{{listing.photos[0].url}}" />
				<h4>Views: {{listing.pageViews}}</h4>
				<h4>Listed: {{listing.listedOn | date}}</h4>
				<h4 div class="listing-status-sold" ng-if="listing.isSold">SOLD</h4>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-6">
				<h5 ng-if="!editing || editListing._id !== listing._id">
					{{listing.description}}
				</h5>
				<textarea class="textarea" ng-model="editListing.description" ng-if="editing &amp;&amp; editListing._id === listing._id"></textarea>
			</div>
			<div class="col-xs-4 col-xs-offset-4 col-md-3 col-md-offset-0">

				<button type="button" class="btn btn-default blue-btn no-padding" ng-click="sellListing(listing)"><small>Mark as Sold</small></button>
				<button type="button" class="btn btn-default blue-btn no-padding" ng-click="deleteListing(listing)"><small>Delete Listing</small></button>
			</div>
			<div class="row col-xs-12 space-sm"></div>
		</div>

		<div class="row col-xs-12 space-sm"></div>
	</div>

	<div class="text-center black-medium" ng-if="activeListings === 0">
		There aren't any listings to show! Would you like to <a href="#/add-edit-listing" class="clickable">add a listing</a>?
	</div>

<div class="row col-xs-12 space-sm"></div>
</div>
