<div class="row" onresize="placeButton()" ng-controller="searchController">
	<h1 class="text-center">Search</h1>

	<div class="row">
		<div class="col-xs-1">
			<button type="button" class="btn btn-default search-button" data-target="#searchModal" data-toggle="modal" data-placement="right" data-trigger="focus">
	  		Search Criteria
			</button>
		</div>
		<div class="col-xs-10 col-sm-8 col-sm-offset-1">
			<div class="row no-padding">
				<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-4" ng-repeat="listing in listings">
					<a ng-href="#/listings/{{listing._id}}">
						<div class="thumbnail">
							<img ng-show="listing.photos.length" ng-src="{{listing.photos[0].url}}" class="thumbnail-size">
							<div class="row caption listing-header no-margin no-padding">
								<div class="col-xs-6 text-left white-small">{{listing.title}}</div>
								<div class="col-xs-6 text-right white-small">{{listing.price | currency}}</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- SEARCH MODAL -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="searchModalLabel">Search</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group">
						<label for="manufacturerFilter" class="col-sm-2 control-label">Manufacturer</label>
						<div class="col-sm-10">
							<select class="form-control">
								<option>Manufacturer abc123-shotgun</option>
								<option>Manufacturer abc124-rifle</option>
								<option>Manufacturer abc125-handgun/revolver</option>
							</select>
						</div>
					</div>

					<div class="row col-xs-12 space-xs"></div>

					<div class="form-group">
						<label for="caliberFilter" class="col-sm-2 control-label">Caliber</label>
						<div class="col-sm-10">
							<select class="form-control">
								<option>Caliber 1</option>
								<option>Caliber 2</option>
								<option>Caliber 3</option>
							</select>
						</div>
					</div>

					<div class="row col-xs-12 space-xs"></div>

					<div class="form-group">
						<label for="actionTypeFilter" class="col-sm-2 control-label">Action Type</label>
						<div class="col-sm-10">
							<select class="form-control">
								<option>Action Type 1</option>
								<option>Action Type 2</option>
								<option>Action Type 3</option>
							</select>
						</div>
					</div>

					<div class="row col-xs-12 space-xs"></div>

					<div class="form-group">
						<label for="actionTypeFilter" class="col-sm-2 control-label">Barrel Length</label>
						<div class="col-sm-10">
							<select class="form-control">
								<option>Barrel Length 1</option>
								<option>Barrel Length 2</option>
								<option>Barrel Length 3</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<label for="actionTypeFilter" class="col-sm-2 control-label text-left">Price From</label>
					<div class="col-sm-4">
						<select class="form-control">
							<option>$0</option>
							<option>$50</option>
							<option>$100</option>
							<option>$150</option>
							<option>$200</option>
							<option>$250</option>
							<option>$300</option>
							<option>$350</option>
							<option>$400</option>
							<option>$450</option>
							<option>$500</option>
							<option>$550</option>
							<option>$600</option>
						</select>
					</div>
					<label for="actionTypeFilter" class="col-sm-2 control-label text-left">Price To</label>
					<div class="col-sm-4">
						<select class="form-control">
							<option>$0</option>
							<option>$50</option>
							<option>$100</option>
							<option>$150</option>
							<option>$200</option>
							<option>$250</option>
							<option>$300</option>
							<option>$350</option>
							<option>$400</option>
							<option>$450</option>
							<option>$500</option>
							<option>$600</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>